<div class="service-view">
</div>
<div modal-panel class="class-code-panel" my-data="pfPcService.serviceInfo.panelConf.classCode">
    <div class="center">
        <div id="codeView" class="code-view"></div>
    </div>
    <div class="private-btn-area">
        <span class="cm-btn cm-hl-btn btn-text" ng-if="pfPcService.serviceInfo.curAction=='modify'" ng-click="pfPcService.serviceInfo.pubConf.etFunc.serviceClassDeal('save')">更新</span>
        <span class="cm-btn btn-text" ng-click="pfPcService.serviceInfo.pubConf.etFunc.serviceClassDeal('close')">关闭</span>
    </div>
</div>
