<footer class="footer" ng-if="curRouterName=='shell.index'">
    <div>
        <span>
            邮箱: <a href="mailto:zzw@xxx.com" title="邮箱">zzw@xxx.com</a>
        </span>
    </div>
    <div>
        <span>Copyright©2017</span>
        <span>xxx</span>
    </div>
</footer>
<footer class="other-footer" ng-if="curRouterName!=='shell.index'">
    <div>
        <span>
            邮箱: <a href="mailto:zzw@xxx.com" title="邮箱">zzw@xxx.com</a>
        </span>
        <span>Copyright©2017</span>
    </div>
</footer>


